/*********** Palette color ***********/
:root{
    --white: #FFF;
    --grey: #999;
    --black: #000;
    --primary: #00439C;
    --secondary: #1F1F1F;
}


/*********** Utilities ***********/


/*********** Generics ***********/

/*********** Header ***********/
#header-top-bar img {height: 15px;}