/*********** Palette color ***********/
:root{
    --white: #FFF;
    --grey: #999;
    --black: #000;
    --primary: #00439C;
    --secondary: #1F1F1F;
}

/*********** Header ***********/
#jumbotron-top {
    height: 650px;
    background: url("../images/jumbo-bg.png") no-repeat center;
    background-size: cover;
}


/*********** Main ***********/
/* Game Banner Overlay Section */
#game-banner {
    background: url("../images/it-takes-two-hero-banner-desktop.jpg") no-repeat center;
    background-size: cover;
}


/* New Releases Section */
#new-releases {background-color: var(--secondary);}






/************ CUSTOM MEDIAQUERY ************/
/* Responsive View Medium -md- from 768px */

@media screen and (min-width: 768px) {

    /* Console Playstation 5 Section */
    #playstation-5 .row .col-md-custom {
        width: calc(100% / 5);
    }
}