/*********** Palette color ***********/
:root{
    --footer: #00439C;
    --new-release: #1F1F1F;
    --ps-plus: #BEBCBB;
    --ps-now: #161C3B;
}


/*********** Custom Utilities ***********/
.filter-cyano {filter: invert(28%) sepia(33%) saturate(7227%) hue-rotate(192deg) brightness(93%) contrast(107%);}
.filter-white {filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(18deg) brightness(113%) contrast(97%);}


.cs-bg-ps-now {background-color: var(--ps-now);}
.cs-bg-ps-plus {background-color: var(--ps-plus);}
.cs-bg-releases {background-color: var(--new-release);}
.cs-bg-footer {background-color: var(--footer);}


/*********** Header ***********/
#jumbotron-top {
    height: 650px;
    background: url("../images/jumbo-bg.png") no-repeat center;
    background-size: cover;
}


/*********** Main ***********/
/* Game Banner Overlay Section */
#game-banner {
    background: url("../images/it-takes-two-hero-banner-desktop.jpg") no-repeat center;
    background-size: cover;
}


/*********** Footer ***********/
#footer-middle a {text-decoration: none;}
#footer-middle ul {list-style-type: none;}





/************ CUSTOM MEDIAQUERY ************/
/* Responsive View Medium -md- from 768px */

@media screen and (min-width: 768px) {

    /* Console Playstation 5 Section */
    #playstation-5 .row .col-md-custom {
        width: calc(100% / 5);
    }


    /* Social Media Link Section */
    #social a img {max-width: 120px;}

}